.left-scene	{
	background-color:white;
	height: 100vh;
	width:60%;
	columns:2;
	padding:10px;
}

.right-scene {
	background-color:grey;
	width:40%;
	height:100vh;
}

.marker {
	color: white;
	background: #800000;
	padding: 15px 10px;
	display: inline-flex;
	text-Align: center;
	align-Items: center;
	justify-Content: center;
	border-Radius: 100%;
	transform: translate(-50% -50%);
}